node_modules
.eslintcache

# Output
.output
.vercel
.netlify
.wrangler

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

/packages/svelte-fluent/.svelte-kit
/packages/svelte-fluent/build
/packages/svelte-fluent/dist
