/* Global definitions of custom media queries and selectors, loaded by @csstools/postcss-global-data */

/* breakpoints based on tailwind v4 */
@custom-media --viewport-sm (max-width: 40em);
@custom-media --viewport-md (max-width: 48em);
@custom-media --viewport-lg (max-width: 64em);
@custom-media --viewport-xl (max-width: 80em);
@custom-media --viewport-2xl (max-width: 96em);
