on:
  push:
    branches:
      - main

name: Docs site
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.0
      - uses: pnpm/action-setup@v4.2.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 22.x
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile --strict-peer-dependencies
      - run: pnpm build
        working-directory: ./docs-site
      - name: Deploy to GH Pages
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs-site/build
