on:
  push:
    branches:
      - main

name: Release
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          release-type: node
          package-name: '@nubolab-ffwd/svelte-fluent'
          bump-minor-pre-major: true
      # The logic below handles the npm publication:
      - uses: actions/checkout@v3
        # these if statements ensure that a publication only occurs when
        # a new release is created:
        if: ${{ steps.release.outputs.release_created }}
      # Setup .npmrc file to publish to npm
      - uses: pnpm/action-setup@v2.2.1
        with:
          version: 7
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@v3.3.0
        with:
          node-version: lts/*
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'
        if: ${{ steps.release.outputs.release_created }}
      - run: pnpm install --frozen-lockfile --strict-peer-dependencies
        if: ${{ steps.release.outputs.release_created }}
      - run: pnpm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        if: ${{ steps.release.outputs.release_created }}
