# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

on:
  push:
    branches: [main, next]
  pull_request:
    branches: [main, next]

name: Tests
jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.1
      - uses: pnpm/action-setup@v4.2.0
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 24.x
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile --strict-peer-dependencies
      - run: pnpm lint

  test:
    name: Node.js ${{ matrix.node-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]

    steps:
      - uses: actions/checkout@v5.0.1
      - uses: pnpm/action-setup@v4.2.0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile --strict-peer-dependencies
      - run: pnpm test
      - run: pnpm build
        working-directory: ./docs-site

  test-peer-deps:
    name: ${{ matrix.package-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        package-version:
          - jsdom@^25.0.0
          - jsdom@^26.0.0
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: pnpm/action-setup@v4.2.0
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 24.x
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile --strict-peer-dependencies
      - name: Install ${{ matrix.package-version }}
        run: pnpm install --no-lockfile ${{ matrix.package-version }}
        working-directory: ./testsuite
      - run: pnpm test
        working-directory: ./testsuite
